<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
    <link rel='stylesheet' href='/stylesheets/spot.css' />
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>
    <div data-role="page">
      <script type="text/javascript">
      var map;
      function initialize(longi, lati) {
        var myLatlng = new google.maps.LatLng(longi, lati);
        var myOptions = {
          zoom: 16,
          center: myLatlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP

        }
        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        
        google.maps.event.addListener(map, 'zoom_changed', function() {
          setTimeout(moveToDarwin, 3000);
        });
        
        var marker = new google.maps.Marker({
            position: myLatlng, 
            map: map,
            
        });
        google.maps.event.addListener(marker, 'click', function() {
          map.setZoom(8);
        });
      }
        
      function moveToDarwin(longi, lati) {
        var darwin = new google.maps.LatLng(longi, lati);
        map.setCenter(darwin);
      }
      </script>
      <script type="text/javascript">
      var spot_data;
      console.log('<%= spot_id %>');
      $.getJSON("http://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20html%20where%20url%3D%22http%3A%2F%2F54.248.134.150%2Fspot%2F<%= spot_id %>%22&format=json",
          function(data){
            console.log(data);
            spot_data = JSON.parse(data['query']['results']['body']['p']);
            console.log(spot_data['name']);
            // //$('.spot_header h1').html(spot_data['name']);
            $('li.spot_info h3').html(spot_data['name']);
            $('p.address').html('地址 : '+spot_data['address']);
            $('p.tel').html('聯絡電話 : '+spot_data['tel']);
            $('p.open_time').html('營業時間 : '+spot_data['open_time']);
            if(spot_data['url'] != ''){
              $('p.url a').html('網站 : '+spot_data['url']).attr('href', spot_data['url']);

            }     
            initialize(spot_data['latitude'], spot_data['longitude']);

            $.getJSON("http://query.yahooapis.com/v1/public/yql?q=SELECT%20*%20FROM%20flickr.photos.search%20WHERE%20text%3D%22"+spot_data['name']+"%22%20AND%20api_key%3D%22aebae5c11919ac43272e9885c3f05b45%22&format=json",
              function(flickr_data){
                var spot_pic = flickr_data['query']['results']['photo'][0];
                console.log(spot_pic);
                $('li.spot_info img').attr("src", 'http://farm'+spot_pic['farm']+'.staticflickr.com/'+spot_pic['server']+'/'+spot_pic['id']+'_'+spot_pic['secret']+'.jpg');
                $("ul.spot_ul").listview('refresh');
              }
            );

            $.getJSON("http://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20html%20where%20url%3D%22http%3A%2F%2F54.248.134.150%2Fspot_id_mrt%2F<%= spot_id %>%22&format=json",
              function(mrt_data){
                var mrt_data = JSON.parse(mrt_data['query']['results']['body']['p']);
                console.log(mrt_data);
                var temp = "週邊捷運站：";
                for(var i=0; i<mrt_data.length; i++){
                  temp += mrt_data[i]['name'];
                  temp += "&nbsp&nbsp";
                }
                $('p.near_mrt').html(temp);
       
                $("ul.spot_ul").listview('refresh');
                // $('li.spot_info p').removeClass('ui-li-desc');
              }
            );    

          }
        );
      
      </script>
  		<div data-role="header" class="spot_header">
        <a href="" data-icon="back" data-rel="back" class="ui-btn-left">Back</a>
  			<h1>Yoho&nbsp&nbsp台北</h1>
        <a href="/" data-icon="home" rel="external" class="ui-btn-right">Home</a>
  		</div><!-- /header -->
  		<div data-role="content">
  			<ul class="spot_ul" data-role="listview">
          <li class="spot_info">
            <h3 class="ui-li-heading"></h3>
            <img src="" class="ui-li-thumb ui-corner-tl">        
          </li>
  			</ul>
        <p class="address"></p>
        <p class="tel"></p>
        <p class="open_time"></p>
        <p class="near_mrt"></p>
        <p class="url"><a></a></p>
        <div id="map_canvas" style="width:100%; height:300px;"></div>
  		</div>
  	</div><!-- /page -->
  </body>
</html>