#map_canvas{
	margin-top: 80px;
}


li.spot_info{
	h3{
		margin-left: 3em;
	}
	p{
		font-size: 14px;
		margin: .5em 0 .6em;
		margin-left: 3em;
	}

	img{
		top: 15px;
		left: 10px;
		max-height: 120px;
		max-width: 120px;
	}
}