#map_canvas {
  margin-top: 30px;
}
li.spot_info {
  height: 100px;
}
li.spot_info h3 {
  margin-left: 50px;
}
li.spot_info p {
  font-size: 14px;
  margin: .5em 0 .6em;
  margin-left: 50px;
}
li.spot_info img {
  top: 10px;
  left: 10px;
  max-height: 120px;
  max-width: 120px;
}
